.mint-indexlist-nav{
    background-color: #EBEBEB;
}
.mint-indexsection-index{
    background-color: #EBEBEB; 
    padding: 5px 10px;
}
.mint-indexsection{
    background: #f5f5f5;
}
.mint-cell{
    background-color: #f5f5f5;
    border-bottom: 1px solid #c8c7cc;
    margin: 0 15px;
}
.mint-cell:last-child{
    border: none;
}
.mint-cell-wrapper{
    padding: 0;
    color: #333;
    font-size: 14px;
    height: 45px;
    min-height: 0px;
}
.mint-indexlist-nav{
    border: none;
}