* {
  padding: 0;
  margin: 0; }

body {
  padding-top: 30px; }

#main-box {
  width: 800px;
  margin-top: 30px;
  min-height: 477px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  margin: 20px auto;
  position: relative;
  font-size: 14px; }
  #main-box > p:nth-of-type(1) {
    background: white;
    width: 135px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 20px;
    top: -17px;
    font-weight: bold; }
  #main-box form {
    width: 400px;
    height: 200px;
    margin-left: 90px;
    margin-top: 40px; }
    #main-box form input {
      height: 30px;
      width: 200px;
      outline-color: #009a61; }
    #main-box form div {
      margin-bottom: 10px; }
      #main-box form div span {
        display: inline-block;
        width: 100px;
        text-align: end;
        font-weight: bold; }
      #main-box form div select {
        height: 35px; }
      #main-box form div button {
        width: 70px;
        height: 30px;
        border: none;
        background: #009a61;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        margin-left: 105px;
        outline: none;
        cursor: pointer; }
  #main-box .user-list-box {
    width: 100%; }
    #main-box .user-list-box .user-list-title {
      width: 100%;
      height: 35px;
      background: #42b983;
      color: white;
      font-weight: bold;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #main-box .user-list-box .user-list-title p {
        line-height: 35px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc; }
        #main-box .user-list-box .user-list-title p:first-child, #main-box .user-list-box .user-list-title p:last-child {
          width: 30%; }
        #main-box .user-list-box .user-list-title p:nth-of-type(2), #main-box .user-list-box .user-list-title p:nth-of-type(3) {
          width: 20%; }
    #main-box .user-list-box ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      list-style: none; }
      #main-box .user-list-box ul li {
        width: 100%;
        height: 50px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
        color: #6b5866;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #main-box .user-list-box ul li p {
          line-height: 50px;
          padding-left: 15px;
          border-width: 1px;
          border-style: solid;
          border-color: #ccc; }
          #main-box .user-list-box ul li p:first-child {
            width: 236px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
          #main-box .user-list-box ul li p:first-child, #main-box .user-list-box ul li p:last-child {
            width: 30%; }
          #main-box .user-list-box ul li p:nth-of-type(2), #main-box .user-list-box ul li p:nth-of-type(3) {
            width: 20%; }
          #main-box .user-list-box ul li p:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; }
            #main-box .user-list-box ul li p:last-child span {
              display: inline-block;
              width: 70px;
              background: #009a61;
              height: 35px;
              border-radius: 7px;
              color: white;
              text-align: center;
              line-height: 35px;
              cursor: pointer; }
        #main-box .user-list-box ul li:nth-of-type(2n) {
          background: #ededed; }
  #main-box #alertMsg {
    padding: 3px 15px;
    border-radius: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    margin-left: -70px;
    display: none; }

/*# sourceMappingURL=main.css.map */
